
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">fakebook</a>
    </div>
    <%= form_tag(user_session_path, class: "navbar-form navbar-right", method: :post) do %>
      <table>
        <tbody>
          <tr>
            <td><label for="email">Email or Phone</label></td>
            <td><label for="password">Password</label></td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <input type="text" name="user[email]" class="form-control" placeholder="">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="password" name="user[password]" class="form-control" placeholder="">
              </div>
            </td>
            <td>
              <button type="submit" class="btn btn-default">Log In</button>
            </td>
          </tr>
          <tr>
            <td></td>
              <td><%= link_to "Forgotten account?", "#", class: "forgotten-link" %></td>
              <td><%= link_to "Log in with facebook", "#", class: "forgotten-link" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>        

  </div>
</nav>

<div class="container theme-showcase body" role="main">
  <div class="row signup-area">
    <div class="col-sm-7 cta">
      <p class="signup-description">Fakebook helps you connect and share with the people in your life.</p>
      <%= image_tag "signup-image.png", class: "signup-image" %>
    </div>
    <div class="col-sm-5">
      <h1>Create an account</h1>
      <h4>It's free and always will be.</h4>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :name, class: "form-control", placeholder: "First name" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :surname, class: "form-control", placeholder: "Surname" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Mobile number or email address" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "New password" %>
        </div>
        <div class="radio">
          <%= f.radio_button(:gender, "Female") %>
          <%= f.label(:gender_female, "Female") %>
          <%= f.radio_button(:gender, "Male") %>
          <%= f.label(:gender_male, "Male") %>
        </div>
        <div class="form-group">
          <%= f.submit "Create an account", class: "btn btn-info btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Made with ❤ by adam_pal</p>
      </div>
      <div class="col-sm-6 text-right">
        <a href="linkedin">LinkedIn</a>
        <a href="github">Github</a>
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</footer>


<%= render "welcome_modal" %>
