<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if user_signed_in? %>
    <body class="loggedin-body">
      <%= render 'layouts/logged_in_menu' %>
    <% else %>
    <body class="loggedout-body">
    <% end %>
    <div class="row">
      <% flash.each do |type, message| %>
        
        <% type = "info" if type == "notice" %>
        <% type = "warning" if type == "alert" %>
        <div class="col-sm-12">
          <%= content_tag(:div, message, class: "alert alert-#{type}") %>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            Left menu
          </div>
          <div class="col-md-7">
            <%= yield %>
          </div>
          <div class="col-md-3">
            Right menu
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
